@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
   
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --black: #000000;
    --gray: #838E95;
    --font-color: #869ab8;
    --btn-color: #313232;
    --border-btn: 0.0.1rem;
    --btn-margin: 0.5rem;
    --btn-padding: 0.5rem;
    --h2: 1.5rem;
    --button-click-blue: rgb(53, 147, 241);
    --insta-color: #E1306C;
    --twitter-color: #00ACEE;
    --facebook-color: #3b5998;

}

/* utility */
.sub-head {
    color: var(--black);
    font-size: 1.18rem;
    margin: 0.7rem 0.5rem;
    text-align: left;
}

.sub-para {
    color: var(--font-color);
    padding: 0.5rem 0.515rem;
    font-size: 1.1rem;
    font-family: sans-serif;
    color: #0F4880;
}

.btn {
    text-decoration: none;
    border-radius: 0.3rem;
    color: var(--btn-color);
    padding: 0.5rem 1.19rem;
    margin: 0.4rem 0.4rem;
    outline: none;
}

h1 {
    color: var(--black);
    font-size: 2.3rem;
    margin: 0.7rem 1.5rem;
}

/* navigation bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F4880;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.left ul {
    display: flex;
    margin: 0;
}

.left ul li {
    list-style: none;
}

.left ul li {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    padding: .4rem 1rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.left ul li .nav-link {
    display: block;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    background: none;
    border: 0;
    transition: none;
}


.left ul li:hover {
    color: gray;

}

.left ul li.active {
    background-color: #336393;
    border-radius: 2px;
    color: white;
}

.right {
    display: flex;
}

.right .btn:nth-child(1) {
    padding: 0.5rem 1.19rem;
    color: white;
    border: 0.81px solid white;
}

.right .btn:nth-child(2) {
    background-color: #336393;
    color: white;
}

.right .btn:nth-child(1):hover {
    background-color: #0A2F53;
    ;
}

.right .btn:nth-child(2):hover {
    background-color: #0A2F53;
    border: 0.81px solid white;
}

.left .logo-name {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    margin-left: 0.5rem;
    display: none;
}

.left .logo-name span {
    color: dodgerblue;
}

.right {
    margin-right: 0.8rem;
}

.right .menu-icon {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.4rem;
    display: none;

}
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    color: white;
    background-color: #0F4880;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 1;
}

.logo {
        display: flex;
        align-items: center;
        margin: 0 24px;
        padding: 0 16px;
}

.logo .menu-icon {
    position: absolute;
    top: 16px;
    right: 261px;
    background-color: #8080806b;
    color: white;
    font-size: 44px;
    margin-right: 14px;
    cursor: pointer;
}

.logo .logo-name {
    color: white;
    font-size: 22px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 0px;
}

.logo .logo-name span {
    color: dodgerblue;
}

nav.open .sidebar {
    right: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}

.sidebar-content .lists {
    padding-left: 01rem;
}

.sidebar-content .list {
    list-style: none;

}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 9px 12px;
    /* border-radius: 8px; */
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: dodgerblue;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .list {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #333;
}

.list .btn {
    border-radius: 0.3rem;
    padding: 0.5rem 1.6rem;
    background-color: var(--blue);
    color: white;
    width: 87%;
}

.lists .list.active {
    border-radius: 1px;
    color: white;
    width: 92%;
    background-color: #0A2F53;
}

/* main start  */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 87vh;
    padding: 0rem 0.5rem;
    background-image: linear-gradient(to right, #E7EDF2, #DBE4EC);
}



.intro div h1 {
    color: #0F4880;
    font-size: 2.9rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 strong {
    color: #339933;
}

h1 span {
    color: #339933;
}

.intro div p {
    color: #0F4880;
    padding: 0.5rem 10rem;
    font-size: 1.18rem;
    font-family: sans-serif;
    line-height: 0.5;
    text-align: center;

}


.intro .btn-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0rem 4.7rem;
}

.btn-items .input-items {
    width: 100%;
}

.intro div .btn-items .hidden {
    display: none;
    text-align: center;
}

.intro div .btn-items #error-message {
    background-color: #f8d7da;
    color: #721c24;
    transition: opacity 5s ease-in-out;
    padding: 0.5rem 1.5rem;
    margin: 0.2rem 0rem;
    border-radius: 0.3rem;
    width: calc(100% - 78px);
    
    max-width: 549px;
    border-color: #f5c6cb;
}

.intro div .btn-items .show-message {
    opacity: 1;
}

.intro .btn-items input {
    padding: 0.5rem 1.5rem;
    color: black;
    cursor: text;
    font-size: 1rem;
    margin: 0.5rem 0rem;
    outline: none;
    background-color: rgb(255, 255, 255);
    max-width: 265px;
    border: 1.5px solid rgb(238, 238, 238);
    border-radius: 4px;
    width: calc(100% - 134px);
    max-width: 549px;
}

.intro .btn-items button {
    background-color: #0F4880;
    color: white;
    margin: 0.6rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    padding: 0.56rem 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 4px;
    text-transform: uppercase;
    width: calc(100% - 134px);
    max-width: 549px;
}



.intro div .btn-items button:hover {
    background-color: #0A2F53;
}

.intro div #cpy-url-div {
    display: none;
}

.intro div .btn-items #shrt-cpy-btn {
    padding: 0.5rem 2.5rem;
}

.intro div #cpy-url-div .green-copied {
    background-color: green;
    color: white;
    transition: opacity 5s ease-in-out;
    padding: 0.5rem 1.2rem;
}

.img-intro img {
    width: 40vw;
    height: 60vh;
}

/* features sections*/

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #2996FF, #092B4D);
    opacity: 0.9;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.9;
    background-color: white;
}

.features .para-features {
    color: #DDEEFF;
    font-size: 14px;
}

.para-features span {
    color: #FFB733;
    font-size: 15px;
    margin-left: 0.2rem;
    display: inline-block;
    animation: moveUpDown 4s ease-in-out infinite;
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: scale(1);
        /* Starting and ending size */
    }

    50% {
        transform: scale(1.1);
        /* Expand */
    }

    60% {
        transform: scale(0.9);
        /* Contract */
    }
}


.features h1 {
    font-size: 1.5rem;
    color: var(--black);
    padding: 0.5rem 0.1rem;
    text-align: center;
}


.fs-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;

}

.features .fs-row .fs-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.3rem;
    margin: 1rem;
    border: #f8f9fa;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);

}

.features .fs-row .fs-items .fs-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0.2rem 0.89rem;
    margin: 1.219rem 1rem;
    border: #f8f9fa;
    border-radius: 1rem;
}

.fs-icons i {
    font-size: 3.5rem;
    color: white;
    background-color: #1873CC;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
}

#service{
    height: 110vh;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}
.services-list .service-block {
    margin-bottom: 25px;
}

.services-list .service-block .ico {
    font-size: 38px;
    float: left;
}

.services-list .service-block .text-block {
    margin-left: 58px;
}

.services-list .service-block .text-block .name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}

.services-list .service-block .text-block .info {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

.services-list .service-block .text-block .text {
    font-size: 12px;
    line-height: normal;
    font-weight: 300;
}

.highlight {
    color: dodgerblue;
    ;
    font-weight: bold;
}


.about-section{
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
}
/*services page section */
.col-md-6 {
    visibility: hidden;
}


/* faq */
#faq-section {
    padding: 2.5rem;
    margin: 2rem 0rem;
}

.faqs-container {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}


.faqs-container h2 {
    padding: 4px 32px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 3.5rem;
    align-items: center;
}

.content-container {
    padding: 0.5rem 0.5rem;
    border: 0.05rem solid #F0F1F8;
    border-radius: 0.15rem;
    margin: 1.2rem 0rem;
}

.content-container .faq-header {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.content-container .faq-header .open,
.content-container .faq-header .close {
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}

.content-container .faq-header .open.active,
.content-container .faq-header .close.active {
    opacity: 1;
    transform: translateY(0);
    color: black;

}

.content-container .faq-header h3 {
    font-size: 20px;
    padding: 0 32px;
    margin-top: 0.6rem;
}

.content-container .content {
    padding: 0px 32px;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
    margin-top: 0.5rem;
}

.content-container .content.active {
    max-height: 800px;
}


/* footer section */
.footer {
    display: flex;
    padding: 2rem;
    background-color: #0F4880;
    height: 43vh;
    justify-content: center;
}

.footer .col {
    width: 41%;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    background-color: #E1306C;
}

.footer .footer-about a {
    text-decoration: none;
    color: white;
}

.footer .footer-about .brand-lg {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.65rem;
    font-family: Arial, sans-serif;
}

.footer .footer-about p {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    padding-top: 0.4rem;
    color: var(--gray);
}

.footer .footer-about .brand-lg span {
    font-family: 'Satisfy', cursive;
    color: dodgerblue;
    font-size: 1.59rem;
}

.footer .footer-company h4 {
    color: white;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 0.5rem 0rem;
}

.footer .footer-company ul li {
    list-style: none;
    font-family: sans-serif;
    padding: 0.34rem 0rem;
}

.footer .footer-company ul li a {
    color: gray;
    text-decoration: none;
    font-size: 1rem;
}

.footer .footer-resources h4 {
    color: white;
    font-size: 1.11rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 0.5rem 0rem;
}

.footer .footer-resources ul li {
    list-style: none;
    font-family: sans-serif;
    padding: 0.34rem 0rem;
}

.footer .footer-resources ul li a {
    color: gray;
    text-decoration: none;
    font-size: 1rem;
}


/* sub-footer section*/
.sub-footer {
    display: flex;
    background-color: #0F4880;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.sub-footer .copy-rights p {
    font-size: 1em;
    margin: 0.0912rem;
    font-family: sans-serif;
    color: white;
    padding-left: 0.7rem;
}

.sub-footer .copy-rights p a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

.sub-footer .copy-rights p a span {
    font-family: 'Satisfy', cursive;
    color: dodgerblue;
    font-size: 1rem;
}

.sub-footer .social-icons a {
    margin: 0.0912rem 0.45rem;
    color: white;
}

.sub-footer .social-icons a i {
    font-size: 1.21rem;
    /* color: white; */
}

.sub-footer .social-icons a i:first-child:hover {
    color: var(--insta-color);
}

.sub-footer .social-icons a i:nth-child(2):hover {
    color: var(--twitter-color);
}

.sub-footer .social-icons a i:nth-child(3):hover {
    color: var(--facebook-color);
    ;
}

@media (min-width:945px) and (max-width:1021px) {
    .intro {
        height: 48vh;
    }

    .features {
        height: 48vh;
    }
}

@media only screen and (max-width: 945px) {

    .left ul {
        display: none;
    }

    .left .logo-name {
        display: block;
    }

    .right .btn:nth-child(1) {
        display: none;
    }

    .right .btn:nth-child(2) {
        display: none;
    }

    .right .menu-icon {
        display: block;
    }

}

@media (min-width:768px) and (max-width:945px) {


    .intro {
        flex-wrap: wrap;
        height: 60vh;
    }

    .intro .img-intro {
        display: none;
    }

    /* .features {
        height: 120vh;
    } */
    .features {
        height: 105vh;
    }

    .features .fs-row {

        display: block;

    }


    .features .fs-row .fs-items {
        text-align: center;
        align-items: center;
        padding: 1rem 0rem;
        margin-top: 2.8rem;
    }

    .fs-items .fs-icons {
        margin-bottom: 0rem;
    }

    .sub-head {
        margin: 0.6rem auto;
    }

    .sub-para {
        text-align: center;
        padding: 0.5rem 1rem 1rem 1rem;
        margin: 0rem;
    }

    /* #services {
        height: 95vh;
    } */
}

@media only screen and (max-width: 768px) {

    .intro {
        flex-wrap: wrap;
        height: 60vh;
    }

    .intro .img-intro {
        display: none;
    }
    .intro div h1 {
        font-size: 1.9rem;
    }
    .features .fs-row {
        display: block;

    }

    .intro .btn-items input {
        padding: 0.5rem 0.7rem;
        width: calc(100% - 78px);
        max-width: 517px;
    }

    .intro .btn-items button {
        width: calc(100% - 78px);
        max-width: 549px;
    }


    .features {
        height: 115vh;
    }
    
    .features .fs-row .fs-items {
        text-align: center;
        align-items: center;
        padding: 1rem 0rem;
        margin-top: 1.8rem;
    }

    .fs-items .fs-icons {
        margin-bottom: 0rem;
    }

    .sub-head {
        margin: 0.6rem auto;
    }

    .sub-para {
        text-align: center;
        padding: 0.5rem 1rem 1rem 1rem;
        margin: 0rem;
    }

    .content-container .faq-header h3 {
        font-size: 18px;
    }
}

@media (min-width:376px) and (max-width:580px) {
    .intro div h1 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .features {
        height: 110vh;
    }

    .intro .btn-items {
        padding-top: 1rem;
    }

    .btn-items .input-items {
        width: 80%;
        margin: auto;
    }


    .intro div p {
        font-size: 1rem;

    }

    .intro .btn-items {
        text-align: start;
        margin-left: 2rem;
        text-align: center;
        margin: auto;
    }

    .intro .btn-items input {
        padding: 0.5rem 0.7rem;
        width: calc(100% - 78px);
        max-width: 517px;
    }

    .intro .btn-items button {
        width: calc(100% - 78px);
        max-width: 549px;
    }
    .intro div .btn-items #error-message {
      
        width: calc(100% - 153px);
        max-width: 549px;
      
    }

    /* #feature{
        height: 117vh;
    } */
    .features {
        height: 141vh;
    }

    .sub-para {

        font-size: 17px;
    }

}


@media (min-width:290px) and (max-width:375px) {
    .intro div h1 {
        font-size: 1.5rem;
        padding-bottom: 0.6rem;
        margin: 0.3rem 0.4rem;
    }

    .intro div p {
        padding: 0.5rem 1.8rem 0rem 0.4rem;

    }

    .btn-items .input-items {
        width: 151%;
    }

    .intro .btn-items {
        padding: 0rem;
        margin-top: 1rem;
    }

    .intro .btn-items button {
        padding: 0.56rem 5.5rem;
        width: 75%;
        margin: 0;

    }

    .intro .btn-items input {
        padding: 0.5rem 0.7rem;
        width: calc(100% - 78px);
        max-width: 517px;
    }

    .intro .btn-items button {
        width: calc(100% - 78px);
        max-width: 549px;
        font-size: 13px;
    }


    .intro .btn-items button {
        width: calc(100% - 76px);
        max-width: 549px;
        font-size: 13px;
    }

    /* .features {
        height: 120vh;
    } */
    .features {
        height: 134vh;
    }

    #feature h2 {
        text-align: center;
    }

    .para-features {
        font-size: 13px;
    }

    .faqs-container h2 {
        font-size: 23px;

    }

    .content-container .faq-header .open,
    .content-container .faq-header .close {
        padding: 0 10px;
    }

    .content.active p {
        font-size: 0.8rem;
    }

    .sub-footer {
        height: 17vh;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .sub-footer .copy-rights {
        margin-top: 1.2rem;

    }

}

@media (min-width: 290px) and (max-width: 430px) {

    .intro div p {
        font-size: 10px;
        text-align: center;
        margin: 0;
        padding: orem;
        padding: 0rem 1.5rem;
        margin-bottom: 0.5rem;
    }

    /* .btn-items .input-items {
    width: 10%;
} */
    #feature {
        height: 113vh;
    }

    #feature h2 {
        font-size: 16px;
    }

    #featureservices .para-features {
        font-size: 12px;
    }

    .sub-para {

        padding: 0.5rem;
        font-size: 13px;
    }

    .faqs-container h2 {
        font-size: 18px;
    }

    .faqs-container h2 {
        margin-bottom: 2.5rem;
    }

    .content-container .faq-header h3 {
        font-size: 12px;
    }

    content.active p {

        font-size: 9px;
    }

    .sub-footer {
        height: 17vh;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .sub-footer .copy-rights {
        margin-top: 1.2rem;

    }
}

@media (min-width: 280px) and (max-width:388px) {
    .intro {
        height: 75vh;
    }
    .intro .btn-items input {
        padding: 0.5rem 0.7rem;
        width: calc(100% - 4px);
        max-width: 542px;
    }

    .intro .btn-items button {
        padding: 0.5rem 0.7rem;
        width: calc(100% - 4px);
        max-width: 549px;
        margin-left: 0rem;
    }

    /* .btn-items .input-items {
        width: 150%;
    } */
    .btn-items .input-items {
        width: 150%;
        margin: auto;
        margin-left: -3rem;
    }

    .features {
        height: 148vh;
    }

    .features h2 {
        font-size: 17px;
    }

    .features .para-features {
        font-size: 11px;
    }

    .sub-footer {
        height: 17vh;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .sub-footer .copy-rights {
        margin-top: 1.2rem;

    }
}

@media (min-width:390px) and (max-width: 430px) {
    .features {
        height: 112vh;
    }
}

@media only screen and (max-width: 375px) {
    .features {
        height: 149vh;
    }
}

@media only screen and (max-width: 280px) {
    .intro div h1 {
        font-size: 1.5rem;
        margin: 0rem;
    }

    .intro .btn-items {
        margin: 0rem 3.5rem;
        margin-left: 4.5rem;
    }

    .features {

        height: 177vh;
    }

    #faq-section {
        padding: 2.5rem 0rem;

    }

    .faqs-container h2 {
        font-size: 17px;
    }

    .content-container .faq-header h3 {
        font-size: 13px;
    }

    .sub-footer {
        height: 17vh;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .sub-footer .copy-rights {
        margin-top: 1.2rem;

    }

}