{% extends "layout.html" %} {% block body %}
<section class="py-3 py-md-5 py-xl-8 about-section">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="{{url_for('static',path='images/about-us.jpg')}}" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3">Who Are We?</h2>
            <p class="lead fs-4 text-secondary mb-3">We help outstanding brands to create high quality products and unique services for your business to grow in passion and excellence.</p>
            <p class="mb-5">Brandly is a high quality short URL, empowering users to optimize links for advanced branding. Through robust analytics, it provides insightful metrics for link performance. Manage and optimize your outreach with the easy-to-use using our brandly platform.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}