{% extends "layout.html" %} {% block body %}

<section class="intro">
  <div class="intro-row">
    <h1>Trim your long URL in <strong>3</strong> <span>Secconds!</span></h1>
    <!-- <p>
      Make custom Short URLs,QR Codes for your solution & share it anywhere.
      Hassle free !
    </p> -->
    <div class="btn-items">
      <div class="input-items">

      <input type="url" class="link-enter" placeholder="Paste long here" id="lng-url-text" required />
      <button class="btn" id="shrt-lnk-btn" type="submit">Short It</button>
    </div>
      <div id="error-message" class="hidden"></div>
    </div>
    <div class="btn-items" id="cpy-url-div">
      <div class="input-items">
        <input type="url" class="link-enter" id="shrt-url-text" value="" readonly />
        <button class="btn" id="shrt-cpy-btn">
          <i class="bx bxs-copy-alt"></i>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="features" id="services">
  <h2>Our Features At Your Fingertips</h2>
  <p class="sub-para para-features">
    Simplify your experience with our user-friendly dashboard, where everything
    is <span>free of cost</span>
  </p>
  <div class="fs-row">
    <div class="fs-items">
      <div class="fs-icons">
        <i class="bx bx-analyse"></i>
      </div>
      <h2 class="sub-head">Insights and Analytics</h2>
      <p class="sub-para ">
        Find insights through click tracking and analytics.
      </p>
    </div>
    <div class="fs-items">
      <div class="fs-icons">
        <i class="bx bxs-customize"></i>
      </div>
      <h2 class="sub-head">Customizable Links</h2>
      <p class="sub-para">
        Power your online presence with customizable links.
      </p>
    </div>
    <div class="fs-items">
      <div class="fs-icons">
        <i class="bx bxs-share"></i>
      </div>
      <h2 class="sub-head">Easy to Share</h2>
      <p class="sub-para">
        Optimize links and connections with easy-to-share URLs.
      </p>
    </div>
  </div>
</section>

<section id="faq-section">
  <div class="faqs-container">
    <h2>Frequently Asked Questions</h2>

    <div class="questions-container">
      <div class="content-container">
        <div class="faq-header">
          <h3>What is a URL shortener?</h3>
          <span class="open active">+</span>
          <span class="close">-</span>
        </div>
        <div class="content">
          <p>
            A URL shortener is a tool that converts long URLs into shorter, more
            manageable links.
          </p>
        </div>
      </div>

      <div class="content-container">
        <div class="faq-header">
          <h3>Why use a URL shortener?</h3>
          <span class="open active">+</span>
          <span class="close">-</span>
        </div>

        <div class="content">
          <p>
            URL shorteners are useful for sharing links on platforms with
            character limits, making links more user-friendly.
          </p>
        </div>
      </div>

      <div class="content-container">
        <div class="faq-header">
          <h3>Use a custom URL for social media sharing?</h3>
          <span class="open active">+</span>
          <span class="close">-</span>
        </div>

        <div class="content">
          <p>
            Yes, custom URLs are commonly used for social media sharing to
            enhance brand visibility and provide concise links.
          </p>
        </div>
      </div>
      <div class="content-container">
        <div class="faq-header">
          <h3>Benefits of customizing a URL?</h3>
          <span class="open active">+</span>
          <span class="close">-</span>
        </div>

        <div class="content">
          <p>
            Customizing URLs enhances brand visibility, increases link
            trustworthiness, and makes links more memorable
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- {% block more_css %}

{% endblock %} -->
{% block more_js %}
<script src="{{url_for('static',path='js/index.js')}}"></script>
{% endblock %} {% endblock %}