{% extends "layout.html" %} {% block body %}

<div class="container">

  <main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-muted price-hd-para">
          Quickly build an effective pricing table for your potential customers
          with this Bootstrap example. It’s built with default Bootstrap
          components and utilities with little customization.
        </p>
      </div>
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              ₹0<small class="text-muted fw-light">/month</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 links/month</li>
              <li>4 QR/month</li>
              <li>Custom URL</li>
              <li>View Count</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
              Sign up for free
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm selected">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              ₹359<small class="text-muted fw-light">/month</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>unlimited links/month</li>
              <li>201 QR/month</li>
              <li>Custom URL</li>
              <li>View Count</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">
              Get started
            </button>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
  {% block more_css %}
  <link rel="stylesheet" href="{{url_for('static',path='/css/pricing.css')}}" />
  {% endblock %}

  <!--Js -->
  {% block more_js %}
  <script src="{{url_for('static',path='/js/sign_up.js')}}"></script>
  {% endblock %} {% endblock %}
</div>
